.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 100px;
   display:flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: -1;
}
#xqc :hover {
    opacity:1;
}


    .showcase.active {
        right: 300px;
    }

    .showcase video {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: fill;
        opacity: 0.8;
    }

    .containerx .item {
        flex: 0 0 100%;
        scroll-snap-align: start;
        background-color: aquamarine;
        z-index: 10;
        opacity: 0.5;
        width: max-content;
        height: max-content;
        font-family: Frozen;
    }

    .item img {
        display: block;
        margin: 0 auto 0 auto;
    }

    .item:hover {
        opacity: 1;
    }

    .item p, h1 {
        color: red;
    }

    .navbar {
        z-index: 10;
    }

    #carouselExampleControls {
        z-index: 10;
        display: block;
        margin: 0 auto 0 auto;
    }

    @font-face {
        font-family: Frozen;
        src: url("~/fonts/Frozito-eZ99g.ttf") format('truetype');
    }

    .container {
        overflow: auto;
    }

    img {
        width: 100%;
    }

    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        background: #f1f1f1;
        margin-bottom: 2rem;
        z-index: 10;
    }

        .card h3 {
            margin-bottom: 2rem;
        }

        .card img {
            height: 500px;
            display: block;
            margin: auto 0 auto 0
        }

        .card > div {
            padding: 2rem;
        }

        .card:nth-child(even) img {
            order: 2;
        }




    .btn:hover {
        opacity: 0.8;
    }

    @media(max-width:1000px) {
        .card {
            display: block;
        }
    }

    .animalGallery {
        width: 50%;
        height: 30%;
        display: block;
        margin: 0 auto 0 auto;
    }

    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

    h3 {
        font-size: 3em;
        letter-spacing: 1px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        background: url('/Images/abc.jpg');
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: text 14s linear infinite;
    }

    @keyframes text {
        from {
            background-position: 0% 50%;
        }

        to {
            background-position: 100% 50%;
        }
    }


    .noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    button {
        width: fit-content;
        height: 50px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        color: black;
        background: white;
        border: 2px solid black;
        box-shadow: 5px 5px 0 blue, -5px -5px 0 blue, -5px 5px 0 blue, 5px -5px 0 blue;
        transition: 500ms ease-in-out;
    }

        button:hover {
            box-shadow: 20px 5px 0 purple, -20px -5px 0 purple;
        }

        button:focus {
            outline: none;
        }

    .somebox {
        display: block;
        margin: 0 auto 0 auto;
    }
