@{
    ViewBag.Title = "About";
}

<section class="showcase">
    <video class="vidbg" src="~/Video/Aquarium.mp4" muted loop autoplay></video>
    <div class="overlay"></div>
</section>
<main class="container">
    <section class="card" data-aos="fade-left" style="opacity:0">
        <img src="https://i.ibb.co/3NHjDcW/paint-2.png" alt="" />
        <div>
            <h3>Acrylic Painting Two</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod error
                enim laudantium, animi veniam libero eveniet culpa unde perferendis
                illo fugit corporis, voluptatibus totam dolorum, maiores magnam
                officia. Ab, delectus.
            </p>
            <a href="#" class="btn">Buy Now</a>
        </div>
    </section>

    <section class="card" data-aos="fade-right">
        <img src="https://www.montereybayaquarium.org/globalassets/mba/images/exhibits/kelp-forest/kelp-forest-rw16-316-1.jpg" alt="" />
        <div>
            <h3>An aquarium unlike any other</h3>
            <p>
                From sea otters to seaweeds, our unique oceanfront location and timeless galleries bring the wonders of the ocean to life for our visitors. But beyond our exhibits, we are transforming what it means to be an aquarium.
                The mission of the Monterey Bay Aquarium is to inspire conservation of the ocean
            </p>
        </div>
    </section>

    <section class="card" data-aos="fade-left">
        <img src="~/Images/About 2.jpg" alt="" />
        <div>
            <h3>We inspire</h3>
            <p>
                Frolicking sea otters, fast-swimming sharks, pulsating jellies and waddling penguins — our world-class exhibits and breathtaking scenery instill a love of the ocean in our visitors. With over 200 exhibits and 80,000 plants and animals,
                the Aquarium is a window to the wonders of the ocean.
            </p>
        </div>
    </section>

    <section class="card" data-aos="fade-right">
        <img src="~/Images/About 3.jpg" alt="" />
        <div>
            <h3>We act for the ocean </h3>
            <p>
                Our exhibits are just one part of what we do. Our scientists are rebuilding sea otter populations, transforming fisheries and aquaculture around the world, and working to protect California’s ocean. Our policy experts are moving the needle on legislation to address climate change and end plastic pollution. Our Seafood Watch team is shifting the global marketplace to make seafood more sustainable.
                Together we inspire people – from the public to politicians – to take action on some of the biggest threats to ocean health.
            </p>
        </div>
    </section>
    <section class="card" data-aos="fade-right">
        <img src="~/Images/About 4.jpg" alt="" />
        <div>
            <h3>We empower young ocean leaders</h3>
            <p>
                Education is a top priority. Since 1984, more than 2.5 million students have visited the Aquarium for free. Our life-changing teacher and youth development programs are helping young people find their voices as ocean conservation leaders and will ensure a healthy future for the ocean.
            </p>
        </div>
    </section>
</main>


