
@{
    ViewBag.Title = "ClimateChallenge";
}

<h2>Climate Challenge</h2>
<body>
    <main class="container">
        <section class="card" data-aos="fade-left">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/conservation-topics/istock-91077387.jpg?format=jpeg&quality=75" alt="" />
            <div>
                <h3>How is climate change affecting the ocean?</h3>
                <p>
                    Climate change, caused by the burning of fossil fuels and the build-up of heat-trapping gases in our atmosphere, is changing the ocean in three fundamental ways:
                </p>
                <ul>
                    <li>The ocean is getting warmer.</li>
                    <li>The ocean is getting more acidic.</li>
                    <li>The ocean is losing oxygen.</li>
                </ul>

            </div>

        </section>

        <section class="card" data-aos="fade-right">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/wallpaper/2016/05_sunrise-over-pacific-ocean_tr11-045/an-ocean-of-beauty-tr11-045.jpg?format=jpeg&quality=75" alt="" />
            <div>
                <h3>The link between the ocean and our climate</h3>
                <h2>The ocean circulates heat and moisture</h2>
                <p>
                    The ocean is the heart of the Earth’s climate system — its currents and winds circulate heat and moisture around our planet.
                    The weather patterns we associate with different regions of the
                    world have been relatively stable throughout human history, thanks to the ocean. But when the ocean absorbs excess heat — like 
                    it has over the past several decades — it can affect how the ocean circulates heat and moisture around our planet. Some regions
                    of the world get more heat or moisture, and others get less. These changes also alter ocean currents and wind patterns, which increase the likelihood 
                    of certain extreme weather events like hurricanes, floods, droughts and wildfires.
                </p>
                <br />
                <h2>The ocean absorbs carbon and heat</h2>
                <p>
                    Climate change is already making our planet warmer and our weather more destructive. But without the ocean’s help, it would be much worse. To date, the ocean has absorbed more than 90 percent of the excess heat and 25 percent of the carbon dioxide we’ve produced by burning fossil fuels and degrading habitats.

                    Ocean and coastal habitats like coral reefs and estuaries help protect coastal communities from the impacts of storm surges and flooding. Destroying these critical ecosystems puts coastal communities at greater risk. Restoring and conserving them, on the other hand, can help us prepare for the impacts of climate change already underway.
                </p>
            </div>

        </section>

        <section class="card" data-aos="fade-left">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/animals/invertebrates/coral-reef-seaborn433.jpg?format=jpeg&quality=75" alt="" />
            <div>
                <h3>How does climate change affect ocean animals?</h3>
                <p>
                    Climate change causes seawater to get warmer, become more acidic and lose oxygen, which affects animals and ecosystems across the global ocean. Here are some of the most serious impacts:
                </p>
                <h2>Coral Bleaching</h2>
                <p>
                    Coral reefs are some of the most diverse and important habitats in the ocean. But over the last few decades, reefs worldwide have been devastated by bleaching events. Rising sea temperatures cause corals to expel their symbiotic algae — a process called coral bleaching — often resulting in the death of the coral reef. On top of warming, changing ocean chemistry (ocean acidification) is slowing the growth rate of coral reefs, with impacts throughout the food web.
                </p>
                <h2>Changes in growth rate, physiology, and survival</h2>
                <p>
                    Animals are conditioned to live at certain temperatures, acidity (pH) and oxygen levels. Changes to these levels can force animals to expend more energy just to survive. This can result in slower growth, lower reproduction rates and higher vulnerability to predators.
                </p>
            </div>
        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/homepage/tr19-0150.jpg?format=jpeg&quality=75" alt="" />
            <div>
                <h3>Coastal communities feel the impact of climate change</h3>
                <p>
                    Climate change is already negatively affecting coastal communities and economies around the world. These impacts will become more severe unless we take action to significantly reduce emissions.
                </p>
                <h2>
                    Sea level rise
                </h2>
                <p>Over the past 100 years, global sea level has risen between seven and eight inches, on average. California’s coastal communities are already dealing with the related erosion and flooding — and experts say it will only get more severe in the coming decades. Scientists project that sea level could increase along California’s coast as much as 3 feet by the year 2100 — putting as many as 600,000 people and $150 billion in property in the state at risk of coastal flooding.</p>
                <h2>Extreme weather events</h2>
                <p>
                    Climate change is causing more frequent and intense extreme weather events. Warmer global temperatures are contributing to record temperatures around the world, as well as to more intense droughts and wildfires. But climate change also increases the amount of moisture in the atmosphere — warmer temperatures cause more evaporation and warmer air can hold more moisture. This can inundate some regions with heavier than usual rainfall and snow, and contribute to more intense tropical storms.
                </p>
            </div>
        </section>
        


    </main>
</body>

