
@{
    ViewBag.Title = "ClimateSol";
}

<h3>What You Can Do</h3>
<body>
    <main class="container">
        <section class="card" data-aos="fade-left">
            <img src="http://media.wbur.org/wp/2019/03/AP_19074250891383-1000x667.jpg" alt="" />
            <div>
                <h3>Share your voice</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>You have influence in your workplace, neighborhood and social groups, so help get the conversation started.</li>
                    <li>Post on social media about an exciting climate solution or discuss a book on climate change.</li>
                    <li>Ask what climate solutions would be a good fit for your community. Share these ideas with your social networks and invite others to join the conversation.</li>
                </ul>
            </div>

        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://pagesix.com/wp-content/uploads/sites/3/2019/07/a-listers.jpg?quality=75&strip=all" alt="" />
            <div>
                <h3>Back climate leaders</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>Who are your elected leaders and what are they doing to help address climate change? If you can’t find this information, call, write or tweet them and ask! They need to hear that voters care about reducing carbon emissions, protecting marine habitats, and adapting to the changes already in motion. </li>
                    <li>Don’t forget your city council, county board of supervisors, and other local boards and commissions. Speaking up on local issues is a great way to have an impact. You are an expert on your own neighborhood, and your perspective helps tailor solutions to local needs.</li>
                </ul>
            </div>

        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://www.alstom.com/sites/alstom.com/files/styles/cover_650/public/2018/07/12/coradia_ilint_r._frampe-alstom_toyota_salzgitter.jpg?h=c6980913&itok=iWYD6TCw" alt="" />
            <div>
                <h3>Support alternative transportation</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>
                        Try out your local transit system and reach out to decision-makers to share your thoughts. Some employers allow telecommuting to cut down on driving and long-distance air travel.
                    </li>
                    <li>If you’re considering a vehicle purchase, look into incentives that could lower the cost of high-efficiency or electric options.</li>
                    <li>Connect with friends, coworkers and neighbors to cut emissions in your community. Working with others, we have the power to make a big difference.</li>
                </ul>
            </div>

        </section>
        <section class="card" data-aos="fade-left">
            <img src="http://www.thecultureist.com/wp-content/uploads/2014/05/pollution-versus-clean-energy-photo.jpg" alt="" />
            <div>
                <h3>Be part of an energy shift</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>
                        Check with your utility provider about home or business energy checkups. Professionals may be able to help you identify additional ways to save energy.
                    </li>
                    <li>Find out whether your city, school or business has a sustainability plan that includes energy efficiency. Consider getting involved to support improvements.</li>
                    <li>Learn where your electricity comes from and how it’s produced. In California, local governments can work together with utility providers to source more renewable, carbon-free electricity. This model is called Community Choice Energy (CCE). Connect with groups in your community that might be interested in adopting a CCE model and lend your support!</li>
                </ul>
            </div>
        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://theecologist.org/sites/default/files/styles/inline_l/public/NG_media/363596.jpg?itok=V_2ERCf4" alt="" />
            <div>
                <h3>Care for our ocean</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>
                        Choose sustainable seafood and help protect the ocean food web.
                    </li>
                    <li>Avoid single-use plastic and take part in coastal cleanups to keep plastic from polluting our ocean.</li>
                    <li>Support marine protected areas to preserve critical habitats and sustain the diversity of marine life.</li>
                    </ul>
            </div>
        </section>


    </main>
</body>


