
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<img src="~/Images/ClassDiagram.png"/>
<br />
<img src="~/Images/UseCase1.png" />
<img src="~/Images/UseCase2.png" />
<img src="~/Images/UseCase3.png" />
<img src="~/Images/UseCase4.png" />