
@{
    ViewBag.Title = "PollutionProblem";
}

<h2>Pollution Problem</h2>
<body>
    <main class="container">
        <section class="card" data-aos="fade-left">
            <img src="https://www.fairplanet.org/wp-content/uploads/2019/07/ocean-pollution-plastic.1567434951.jpg" alt="" />
            <div>
                <h3>Most plastic ends up as waste</h3>
                <p>
                    The problem is most of this plastic ends up as waste. In fact, the average American disposes of 290 pounds of plastic waste every year.

                    You may think a lot of plastic gets recycled and made into new products, but in fact, most does not. Only five percent of the plastic ever made has been recycled. The rest is either incinerated or ends up in landfills or as litter in the natural environment — including the ocean.

                    In fact, scientists estimate that around 12 million tons (U.S.) of plastic make their way from land into the sea every year. That’s like dumping a garbage truck full of plastic into the ocean every 45 seconds.

                    And once the plastic pollution is in the landfill or ocean, it lasts for a long time — possibly forever. Since plastic only started being mass-produced in the 1950s, we don’t really know how long it lasts in the environment.
                </p>

            </div>

        </section>

        <section class="card" data-aos="fade-right">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/conservation-topics/istock-1125542755.jpg" alt="" />
            <div>
                <h3>The staggering impact of single-use plastic</h3>
                <p>
                    Single-use plastic — items like water bottles, takeout containers, coffee lids, straws, and shopping bags — make up a large percent of the plastic waste we create. Packaging is the single biggest market for plastic. We often only use these items for a few minutes, but they can persist in the landfill, or as pollution in the ocean, for hundreds of years.
                    Single-use plastic may be convenient, but we can opt for ocean-friendlier alternatives. By refusing plastic packaging and choosing reusable alternatives, we can make a significant dent in ocean plastic pollution.

                </p>

            </div>

        </section>

        <section class="card" data-aos="fade-left">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/conservation-topics/microplastics-iStock-1150805328.jpg" alt="" />
            <div>
                <h3>Microplastic is a big problem</h3>
                <p>
                    Plastic does not biodegrade under normal conditions but instead breaks up into smaller and smaller pieces. That’s why microplastic — tiny pieces less than 5 mm thick — are a significant source of pollution. Although hard to see, microplastic is found throughout the ocean, from the surface to the seafloor, and in the stomachs of ocean animals.

                </p>
            </div>
        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://america.cgtn.com/wp-content/uploads/2017/07/Plastics-640x360.jpg" alt="" />
            <div>
                <h3>Where does our plastic waste go?</h3>
                <p>
                    When you throw away a plastic item, it ends up in one of four places.
                </p><br /><br />
                <p><b>It goes to a landfill.</b> Most plastic ends up at the dump, where it can sit for hundreds of years and more. Chemicals can leach from the plastic into the soil or water and pollute the environment.</p><br /><br />
                <p><b>It is burned. </b>Plastic is also burned. Emissions released during the incineration process can negatively impact the environment and human health.</p><br /><br />
                <p><b>It is recycled. </b>About five percent of all plastic makes its way to recycling facilities. Generally, plastic can only be recycled a limited number of times before it becomes too degraded to use. Recycling only delays the final disposal of plastic, and doesn’t prevent it.</p><br /><br />
                <p><b>It gets into the natural environment — including the ocean. </b>Around 12 million tons (U.S.) of plastic pollute the ocean each year. How does it get there? Plastic trash, both in coastal and inland areas, makes its way to the ocean via rivers and other waterways. Some lightweight plastic, such as thin plastic bags and polystyrene foam, can travel by air. The situation is worse in places that lack effective waste management services.</p><br />
            </div>
        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://www.montereybayaquarium.org/globalassets/mba/images/future-of-the-ocean/albatross.jpg?format=jpeg&quality=75" alt="" />
            <div>
                <h3>How does ocean plastic affect animals?</h3>
                <p>
                    Marine animals can mistake plastic in the ocean for food, based on how it looks or smells. You may have seen reports of sea turtles that mistake plastic bags for jellyfish, seabirds feeding plastic to their chicks, and whales washing up dead with stomachs full of plastic.
                </p>
                <br />
                <p>Ocean animals like whales, sea lions, seals, dolphins, seabirds and turtles can become entangled in abandoned fishing nets, six-pack rings, plastic bags and other large pieces of floating plastic. Once entangled, these animals may have trouble swimming or feeding themselves and might even suffocate or drown. For some endangered species, such as the Hawaiian monk seal, entanglement is contributing to the decline in the remaining population numbers. </p>
            </div>
        </section>


    </main>
</body>
