
@{
    ViewBag.Title = "PollutionSol";
}

<h3>What You Can Do</h3>
<body>
    <main class="container">
        <section class="card" data-aos="fade-left">
            <img src="https://thedharmatrails.com/wp-content/uploads/2018/09/alternatives-to-single-use-plastics.jpg" alt="" />
            <div>
                <h3>Cut back on single-use plastic</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>Use reusable coffee cups and shopping bags instead of single-use ones. Reusable silicone bags and other durable containers can replace single-use plastic sandwich bags. </li>
                    <li>When you shop, consider buying some grocery items in bulk by filling your own containers.</li>
                    <li>Choose products with less plastic packaging and support businesses that are working to reduce their plastic waste.</li>
                </ul>
            </div>

        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/6aaaec53477169.59361e6b65315.jpg" alt="" />
            <div>
                <h3>Recycle Properly</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>Whenever possible, choose products with recycled plastic content over those made with virgin plastic.</li>
                    <li>Support improvements to recycling infrastructure in your community. If you don’t have a curbside recycling service, ask for it!</li>
                    <li>And before you toss your plastic waste in the blue bin, take a second to make sure it is actually recyclable where you live.</li>
                </ul>
            </div>

        </section>
        <section class="card" data-aos="fade-left">
            <img src="https://eartheclipse.com/wp-content/uploads/2018/11/people-cleaning-beach.jpeg" alt="" />
            <div>
                <h3>Get involved</h3>
                <p>
                    <b>Here's what you can do:</b>
                </p>
                <ul>
                    <li>Help keep plastic out of the ocean and other waterways by participating in local trash cleanups.</li>
                    <li>Reduce plastic use. The more we can prevent plastic from becoming waste in the first place, the less we’ll have to clean up later, so tackling this issue at the source has big benefits.</li>
                    <li>Speak up about ocean plastic pollution. The more we talk about it and share ideas, the easier it is to reduce plastic waste, and the more change will happen. </li>
                </ul>
            </div>

        </section>

    </main>
</body>

